<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Edit Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body class="editejs">
        <nav class="navbar navbar-dark bg-dark">
                <a href="/peoples"><i class="fas fa-home"></i> HOME</a>
              </nav>
    <h1>Edit <%= visitor.title %></h1>
<h5><span class="badge badge-secondary">Title</span>
    <%=visitor.title%>
</h5>
<h5><span class="badge badge-secondary">Content</span>
    <%=visitor.content%>
</h5>

    <form style='width: 60%; margin: 0 auto;' action="/visitors/edit/<%=visitor._id%>" method="POST">
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Title</span>
                </div>
                <input type="text" class="form-control" name='edittitle'>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Content</span>
            </div>
            <textarea name="editContent"  class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button class='btn btn-outline-dark' style="margin-top: 20px;"><i class="fas fa-edit"></i> Submit</button>
              
</form>
</body>
</html>