

html {
  min-height: 100%;
}
 body {

   text-align: center;
 
 }
 h2 {
   font-size: 50px;
 }
a:hover {
  color: rgb(199,214,82);
  text-decoration: none;
}
 .span1{
  color: darkgreen;
 }
 .span2{
  color: red;
 }
 .span3{
  color: darkgoldenrod;
 }
 .span4{
  color: darkorange;
 }
 .span5{
  color: darkblue;
 }

 .vis-body {
 background-color: #e8f5e9 ;
 }
 .visitor-content {
   text-align: left;
   color: black;
 }
.visitors-body {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#comment {
  height: 30px;
  width: 320px;
}


.text  {
  background-color: rgb(199,214,82);
  margin: 7%;
  border-radius: 5px;

}
.text2 {
  background-color: rgb(199,214,82);
  margin: 7%;
  border-radius: 5px;
  padding: 20px;
}
.text3 {
  padding: 20px;
  background-color: rgb(199,214,82);
  margin: 7%;
  border-radius: 5px;


}
p,h4 {
  color: white;
}
.between{
  color: white;
}


.index-people {
  height: 100%;
  /* width: 100%; */
  background-image: url('/images/homepage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  /* background-size: 100% 320%; */
}

#connect {
  font-size: 48px;
  color: red;
}
#textarea {
  height: 50px;
  border: none;
}

.aaa {
  font-size: 20px;
  font-weight: bold;
}
.editejs{
  background-image: url('https://ui-ex.com/images/pencil-transparent-1.png');
  background-size: 170vh 100vh;
}

a {
  color: white;
}
#home-form {
  width: 60%;
  margin: 0 auto;
}

.h1 {
  margin-top: 50px;
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
}