.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}
.payam {
  display: flex;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.payam2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}
