/* .index-people {
  background-image: url('/images/tourism-bussines-2.jpg');
  background-size: 200vh 100vh;
}
.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}
.payam {
  display: flex;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.payam2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}
.text {
  margin-top: 10%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
form input.title {
  border: 2px solid gray;
  height: 40px;
  width: 400px;
}
::placeholder {
  color: blue;
}
textarea { resize: vertical; }

.visitor-content {
  display: grid;
  padding-left: 10%; 
  border-bottom: 2px solid gray;
}
.a1 {
  float: left;
}

.ttv {
  text-align: center;
}
#comment {
  width: 250px;
  max-height: 50px;
}
textarea { resize: vertical; }
 #atag {
   font-size: 30px;
   margin-left: 120px;
 }
 .yek {
   display: flex;
 }
 .a2 {
   border-bottom: 1px dashed red;
 }
 .btn-delete {
   border-radius: 50%;
 } */

 body {
   background-color: bisque;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-size: cover;
 }
 h2 {
   font-size: 50px;
   background-color: black;
 }

 .span1{
  color: wheat;
 }
 .span2{
  color: red;
 }
 .span3{
  color: yellow;
 }
 .span4{
  color: pink;
 }
 .span5{
  color: powderblue;
 }

 .vis-body {
   background-image: url('http://www.4usky.com/data/out/43/164372963-hexagon-wallpapers.jpg');
   background-image: url('https://i.imgur.com/3kUVDuo.png');
 }
.visitors-body {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#comment {
  height: 30px;
  width: 320px;
}


.text  {
  background-color: rgba(109,156,159,.2);
  margin: 7%;
  border-radius: 10%;

}
.text2 {
  background-color: rgba(109,156,159,.2);
  margin: 7%;
  border-radius: 10%;
  padding: 20px;
}
.text3 {
  padding: 20px;
  background-color: rgba(109,156,159,.2);
  margin: 7%;
  border-radius: 10%;


}
p,h4 {
  color: white;
}
.between{
  color: white;
}


.index-people {
  background-image: url('https://previews.123rf.com/images/ramcreative/ramcreative1503/ramcreative150300008/38068369-travel-and-tourism-background-in-flat-style.jpg');
  /* background-size: cover; */
  background-size: 200vh 100vh;
}

#connect {
  font-size: 48px;
  color: red;
}
#textarea {
  height: 50px;
  border: none;
}

.aaa {
  font-size: 20px;
  font-weight: bold;
}
.editejs{
  background-image: url('https://ui-ex.com/images/pencil-transparent-1.png');
  background-size: 170vh 100vh;
}